ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky;
  /* position: sticky; */
  top: 0;
  opacity: 0.9;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}

input[type="date"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}

#txtdob {
  margin-right: 10px;
}

#txtdod {
  margin-left: 10px;
}

textarea {
  width: 100%;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
  height: 100px;
  padding: 10px;
}

#btn {
  display: inline-block;
  padding: 8px 20px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #271802;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#btn:hover {
  background-color: #565758;
}

#btn:active {
  background-color: #172022;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.imgcontainer {
  text-align: center;
  margin: 0px 0 0px 0;
}

img.avatar {
  width: 200px;
}

.container {
  width: 600px;
  margin: 0 auto;
  border: 2px;
  border-color: black;
  border-style: groove;
  border-radius: 10px;
  box-shadow: 5px 10px #271802;
}

.fieldbox {
  padding: 20px;
  width: 500px;
  margin: 0 auto;
}

.fieldbox1 {
  padding: 20px;
  width: 250px;
  margin: 0 230px;
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

a:link {
  color: #271802;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#jd {
  text-align: center;
}

li a:hover {
  background-color: #271802;
  border-radius: 5px;
}

html {
  height: 100%;
}

body {
  margin: 0;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, white 50%, #271802 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

h1 {
  font-family: monospace;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
